header {
    background-color: #ffb4e2;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(85, 79, 79);
}
/*Se puede utilizar
# = Para identificar los ID
. = Para dar un identificador de clase
*/
body{
    background-color:rgba(255, 180, 226, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;

}
p{
    color: rgb(85, 79, 79);
    text-align: center;
}

h1,h2{
    font-weight: 300;
    text-align: center;
    color: #a5492a;
    text-decoration-thickness: 100px;
}
dl{
    text-align:justify;
    color: rgb(85, 79, 79);
}
footer .footer-right{
    text-align: center;
}

 label .subtitle{
    text-align: center;
}